section h2 {
  font-size: 1.6em;
  font-weight: bold;
  border-bottom: 1px solid #5c93bb2b;
  padding-bottom: 0.3em;
  margin-top: 2.3em;
  margin-bottom: 1.1em;
}

section h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 2.3em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #5c93bb2b;
}

section h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 2.25em;
  margin-bottom: 0.5em;
}

section ul {
  list-style: inside;
  margin: 1.4em 0;
  padding-left: 1.8em;
}

section li {
  margin: 0.4em 0 0.4em 1.4em;
  text-indent: -1.4em;
}

section ul > li > ul {
  margin: 0.2rem 0;
}

section p {
  color: #333333;
  line-height: 1.9;
  font-size: 16px;
}
